streamlit
fastapi
uvicorn
python-dotenv
openai
psycopg2-binary
supabase
numpy
langchain-text-splitters
networkx
graphviz
requests
beautifulsoup4
certifi
pydantic
pandas
sentence-transformers
cryptography
duckduckgo-search
